.tableContainer {
    padding: 40px;
}

.table {
    width: 100%;
    text-align: center;
}

.workingDay {
    text-align: center;
    background-color: green;
    padding: 10px;
    border-radius: 8px;
}

.halfDay {
    color: white;
    background-color: blue;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.messageForDay {
    display: flex;
    margin: 40px;
    justify-content: space-around;
    border: 1px solid lightgrey;
    padding: 15px;
}