<table>
  <tbody class="table-body">
    <tr>
      <td>
        <div class="headbar">First : {{array | json}}</div>
        <div>
          <ul id="dataListContainer">
          </ul>
        </div>
      </td>
    <tr>
      <td>
        <div class="headbar">Second : {{array | json}}</div>
        <div>
          <ul id="dataListContainer2">
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="headbar">Third : {{array | json}}</div>
        <div>
          <ul id="dataListContainer3">
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>