<form class="m-5" [formGroup]="employeeFormGroup">
    <div class="form-row mb-5">
        <div class="col">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="col">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <button type="button" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger ml-3" (click)="cancelForm()">Cancel</button>
</form>