<div class="m-5">
    <form [formGroup]="reactiveForm" (ngSubmit)="sendData()">
        <div class="form-group">
            <label for="formGroupExampleInput">Product Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input"
                formControlName="productName">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Product Description</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input"
                formControlName="productDescription">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Type</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input"
                formControlName="type">
        </div>
        <button type="submit" class="btn btn-primary">{{updateData? "UPDATE" : "SUBMIT"}}</button>
    </form>
</div>