<router-outlet></router-outlet>

<table [ngClass]="'table'">
  <thead>
    <tr>
      <th *ngFor="let list of allProduct" [ngClass]="'tableHead'">{{list}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of newData">
      <td [ngClass]="'tableData'">{{data.column1}}</td>
      <td [ngClass]="'tableData'">{{data.column2}}</td>
      <td [ngClass]="'tableData'">{{data.column3}}</td>
      <td [ngClass]="'tableData'">{{data.column4}}</td>
      <td [ngClass]="'tableData'">{{data.column5}}</td>
    </tr>
  </tbody>
</table>
<button>Previous</button>

<div *ngFor="let i of button">
  <button [ngClass]="'btn'" (click)="getData($event)" value={{i}}>{{i}}</button>
</div>

<button>Next</button>