html,
body {
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


input.ng-invalid.ng-touched {
    border: 1px solid red;
    box-shadow: 0 0 13px inset #ff00001f;
}

.danger {
    color: red;
}